<div class="container">
    <h1>Enter A balloon color of Your Preference</h1>
    <form action="/ballons" method="post">
    <input type="text" name="color" id="color">
    <button type="submit">Submit</button>
    </form>
</div>